
.chats {
  margin: 15px 20px;
  width: inherit;
  height: 98%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chat-msg-item {
  padding: 2px 0;
}

.chat-msg {
  // min-width: 250px;
  // max-width: 41%;
  max-width: 51%;
  padding: 7px 18px;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 300;
  word-break: break-word;
}

.msg-sender {
  display: flex;
  justify-content: flex-end;
}

.msg-sender-inner {
  background-color: rgb(0, 153, 255);
  color: white;
}

.msg-receiver {
  display: flex;
  justify-content: flex-start;
}

.msg-receiver-inner {
  background-color: #f1f0f0;
  color: black;
}
