.chatroom-container {
  // margin: 17px 0 0 17px;
  width: 100%;
  height: 100%;
}

.chatroom-header {
  /* height: 38px; */
  display: flex;
  align-items: center;
}

.chatroom-header-info {
  display: flex;
  align-items: center;
}

.chatroom-header-info .fa-user-circle {
  font-size: 37px;
  opacity: 0.8;
}

h1.chatroom-user-header {
  padding: 0 0 0 9px;
  font-weight: 600;
}

.chatroom-header-container {
  height: 11%;
  max-height: 80px;
}

.chatroom-header {
  display: flex;
  align-items: center;
  padding: 17px 0 17px 17px;
  // position: fixed;
  /* border-bottom: 1px solid #e6e6e6; */
  // width: 100%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .10);
}

.chats-container {
  width: 100%;
  height: 82%;
  display: flex;
  align-items: flex-end;
}

.message-form-container {
  // position: absolute;
  width: 100%;
  // bottom: 0;
  height: 6%;
  display: flex;
  align-items: center;
  // background: lightblue;
}

.chat-load {
  display: flex;
  justify-content: center;
  color: #939393;
  padding-top: 35px;
  font-size: 40px;
  font-weight: 100;
}