.logged-home {
    font-family: sans-serif;
    height: 100%;
    display: flex;
}

.logged-content {
    /* width: 70%; */
    flex: 3;
}

.sidebar-container {
    width: 34%;
    max-width: 300px;
    height: 100%;
    border-right: 1px solid #e6e6e6;
    overflow: hidden;
}

.toggle-container {
    display: none;
}
