@media screen and (max-width: 600px)  {

  .h-content1 {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
  }

  .splash-photo-container {
    display: none;
  }

  .login-form-container {
    padding: 3.5% 0 0 10%;
    width: 100%;
  }

  h1.login-slogan-h1 {
    font-size: 35px;
  }

  .login-input-container {
    padding-top: 4px;
    width: auto;
  }

  .login-slogan {
    padding-bottom: 5px;
  }

  .github a {
    margin: 0 11px 0 0;
    font-size: 10px;
  }

  .signup-btn {
    /* font-size: 12px; */
    /* padding: 9px 12px; */
    padding: 9px 10px;
    font-size: 11px;
  }

  h1.h-content2-header {
    margin: 0 0 10px 15px;
  }

  .all-rights-reserved {
    padding-left: 20px;
    font-size: 8.5px;
  }

  h2.sigup-title-h2 {
    padding: 9px 0 11px 9px;
    font-size: 12px;
  }

  .signup-button-container {
    padding: 15px 0 20px 0;
  }

  .signup-icon {
    padding-top: 26px;
    width: 60px;
    padding-bottom: 12px;
  }

  .input-fn-err, .input-ln-err, .input-uname-err, .input-pw-err {
    top: -2px;
  }
}

@media screen and (max-width: 900px) {
  .h-content1 {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
  }

  .splash-photo-container {
    display: none;
  }

  .login-form-container {
    padding: 3.5% 0 0;
    width: auto;
  }

}