// .profile-container {
//   padding: 16px;
// }

.profile-container {
  /* padding: 16px; */
  height: 100%;
  overflow: scroll;
  padding: 0 16px;
}

.profile {
  display: flex;
  // align-items: center;
  padding: 10px 10px 0 10px;
}

// .profile-header {
//   display: flex;
//   align-items: center;
//   padding: 10px;
// }

.profile-right {
  width: 100%;
  padding-top: 25px;
}

.profile-info {
  padding-top: 5px;
  display: flex;
}

.profile-info-item {
  color: black;
  font-size: 12px;
  padding-left: 15px;
}

.profile-left {
  padding-right: 5px;
}


.profile-left .fa-user-circle {
  font-size: 96px;
  opacity: 0.8;
}

.profile-header-fname {
  // width: 100%;
  // font-size: 22px;
  font-size: 25px;
  padding-bottom: 2px;
  padding-left: 15px;
  border-bottom: 1px solid #a5a5a5;
}

span.profile-info-item-label {
  font-weight: 600;
}


.profile-create-post {
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}

.profile-create-header {
  // padding: 5px;
  padding: 9px;
  background: #e6e6e6;
  font-size: 14px;
  font-weight: 600;
  border-radius: 7px 7px 0 0;
}

.post-text-box {
  padding: 5px 5px 5px 7px;
}

textarea.profile-create-post-textarea {
  width: 100%;
  // height: 65px;
  height: 60px;
  resize: none;
  font-size: 14px;
}

.create-post-btn-container {
  // padding: 5px;
  padding: 6px 5px;
  background: #e6e6e6;
  display: flex;
  justify-content: flex-end;
  border-radius: 0 0 7px 7px;
}

button.create-post-btn {
  font-size: 14px;
  // background: white;
  background: #007AFE;
  color: white;
  width: 45px;
  display: flex;
  justify-content: center;
  padding: 4px;
  margin-right: 0px;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
}

button.create-post-btn:hover {
  transition: 500ms ease;
  opacity: 0.5;
}

.profile-header-container {
  height: 15%;
}

.profile-posts {
  height: 85%;
  overflow: scroll;
  // min-width: 660px;
  // width: 85%;
}

.profile-posts-index {
  max-width: 680px;
  padding: 5px 15px 0 120px;
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
}

.profile-create-post-container {
  max-width: 680px;
  padding: 0px 15px 5px 120px;
}

.each-post {
  display: flex;
  padding: 10px;
}

.post-container {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 15px;
  position: relative;
}

.post-left {
  font-size: 30px;
  padding-right: 10px;
  opacity: 0.8;
}

.post-author {
    font-size: 15px;
    font-weight: 600;
}

.post-author a:hover {
  transition: 500ms;
  opacity: 0.5;
  cursor: pointer;
}

.post-header {
  // display: flex;
  // align-items: flex-end;
}

.post-time {
  font-size: 11px;
  /* padding-left: 5px; */
  color: #a5a5a5;
}

.post-body {
  min-height: 45px;
  padding: 3px 0;
}

.delete-post {
  position: absolute;
  right: 6px;
  cursor: pointer;
}

.delete-post:hover {
  transition: 500ms ease;
  opacity: 0.5;
}