.profile-container {
  padding: 16px;
}

.profile-header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.profile-header-picture {
  padding-right: 5px;
}

.profile-header-picture .fa-user-circle {
  font-size: 96px;
  opacity: 0.8;
}

.profile-header-uname {
    width: 100%;
    font-size: 22px;
    padding-bottom: 2px;
    padding-left: 14px;
    border-bottom: 1px solid #a5a5a5;
}

