// .sidebar {
//     width: 34%;
//     max-width: 300px;
//     height: 100%;
//     border-right: 1px solid #e6e6e6;
//     overflow: hidden;
// }

.sidebar {
  padding-top: 15px;
}

.user-info {
    margin: 0 0 0 5.5%;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.profile-area {
    display: flex;
    justify-content: space-between;
    height: 10%;
    max-height: 75px;
    align-items: center;
}

.user-btns {
    margin: 0 5.5% 0 0;
}

svg.svg-inline--fa.fa-sign-out-alt.fa-w-16, .fa-edit {
  color: black;
  font-size: 20px;
  background: #F5F5F5;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.85;
}

svg.svg-inline--fa.fa-sign-out-alt.fa-w-16:hover, .fa-edit:hover{
  transition: 500ms ease;
  opacity: 0.32;
}

svg.svg-inline--fa.fa-edit.fa-w-18 {
  margin-left: 10px;
}

input.users-search-bar {
  padding: 10px 3px 10px 11%;
  background: #F5F5F5;
  border-radius: 10px;
  width: 100%;
  font-size: 14px;
  margin: 0 5.5%;
  
}

.users-search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 6%;
  max-height: 40px;
}

svg.svg-inline--fa.fa-search.fa-w-16 {
  position: absolute;
  // top: 9%;
  // left: 6.5%;
  top: 32%;
  left: 9%;
  color: #939393;
  font-size: 14px;
}

input.users-search-bar::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #939393;
  opacity: 1; /* Firefox */
}

input.users-search-bar:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #939393;
}

input.users-search-bar::-ms-input-placeholder { /* Microsoft Edge */
  color: #939393;
}