.sidebar-chatrooms {
  margin-top: 15px;
  overflow: scroll;
  height: 80%;
}

.chat-item-container {
  // margin: 0 8px 9px 8px;
  margin: 0 9px 8px 9px;
}

.chat-item {
  display: flex;
  align-items: center;
  height: 65px;
  // background: #F5F5F5;
  background: white;
  border-radius: 7px;
  cursor: pointer;
  padding: 0 7px;
}

.sidebar-chats {
  margin-top: 10px;
}

.sidebar-chat-pic {
  font-size: 50px;
  // opacity: 0.8;
  margin-right: 5px;
}

.sidebar-chat-pic .fa-user-circle {
  opacity: 0.8;
}

img.sidebar-chat-profile-photo {
  border-radius: 50%;
  width: 49px;
}
