.friend-item {
  display: flex;
  align-items: center;
  height: 65px;
}

.sidebar-friend-pic {
  font-size: 50px;
  opacity: 0.8;
}

.sidebar-friends {
  margin-top: 10px;
}

.sidebar-friend-pic {
  font-size: 50px;
  opacity: 0.8;
  margin-right: 5px;
}
